---
layout: 'base-blog.njk'
---
<main>

    <div class="main-panel-container" >
        <div><h3>Latest Speeches and Press Releases</h3></div>
        <div>
            <section>
                <div>
                    <h4 class="title-lns-blog">{{ title }}</h4>
                    <div class="name-date-tag">
                        <span class="no-wrap">by <i class="fas fa-user-edit"></i></span>
                        <span class="name-tag" >{{ author }}</span>
                        <span class="no-wrap">on <i class="far fa-calendar-alt"></i></span>
                        <span class="date-tag">{{ date | postDate }}</span>
                    </div>
                </div>

                <figure class="post-figure">
                    <div class="img-figcaption-wrapper">
                        <img src="{{ image1 }}" alt="{{ imageAlt1 }}">
                        <figcaption class="figcap">{{ imageAlt1 }}</figcaption>
                    </div>
                </figure>

                <section class="content-wrapper">
                    <article>
                        <p>{{ textBody1 }}</p>
                    </article>
                </section>
                
                {{ content | safe }}
                
                </section><!---->

                
            </section>   
        </div>  
    </div>
    
</main>