<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Boxicons CDN Links-->
            <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <!-- End Boxicons CDN Links-->

        <!-- Google Fonts -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
        <!-- End Google Fonts -->
        
        <!--Font Awesome CSS Links-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- End Font Awesome CSS Links-->

        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        
        <link rel="stylesheet" href="/css/grid-sub-pages.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" type="image/x-icon" href="/assets/logos/coat-of-arms-logo.png">
        <title>Ministry of Defence - {{ title }}</title>
    </head>
    <body>
        {% include 'header.njk'%}
        {% include 'nav-all.njk'%}
        {{ content | safe }}
        {% include 'footer.njk'%}
    </body>

    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
    </script>
    <script src="/script/slides-show-script.js"></script>
    <script src="/script/nav-responsive-script.js"></script>
    <script src="/script/current-year-script.js"></script>
</html>