<header>
    <div class="coat-of-arms-logo">
        <img src="/assets/logos/coat-of-arms-logo.webp" alt="zambian-coat-of-arms-logo">
    </div>
    <div>
        <h1>Ministry of Defence</h1> 
        <h3>A Smart and Value-Centered Public Service</h3>
    </div>
    <div class="zambian-national-flag-log">
        <img src="/assets/logos/kisspng-flag-of-zambia.webp" alt="zambian-national-flag">
    </div>
</header>