<nav>
    <div class="navbar">
        <i class='bx bx-menu'></i>
        <div class="logo">
            <p>
            <span>CORE VALUES:</span>  INTEGRITY . HONESTY . OBJECTIVITY . IMPARTIALITY . 
            LOYALTY . RESPECT . ACCOUNTABILITY . EXCELLENCE . CONFIDENTIALITY . SELFLESSNCE
            <p>
        </div>
        <div class="nav-links">
            <div class="sidebar-logo">
            <span class="logo-name"><a href="/">mod.gov.zm</a></span>
            <i class='bx bx-x' ></i>
            </div>
            <ul class="links">
            <li class="active"><a href="/">HOME</a></li>
            <li><a href="pages/services.html">SERVICES</a></li>
            <li >
                <a href="#">ABOUT US</a>
                <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
                <ul class="htmlCss-sub-menu sub-menu">
                <li><a href="pages\about-us\about-the-ministry.html">About the Ministry</a></li>
                <li class="more">
                    <span><a href="#">Departments</a>
                    <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                    <ul class="more-sub-menu sub-menu">
                    <li><a href="pages\about-us\departments\department-of-human-resources-and-administration.html">Department of Human Resources and Adminstration</a></li>
                    <li><a href="pages\about-us\departments\department-of-research-planning-and-projects.html">Department of Research, Planning and Projects</a></li>
                    <li><a href="pages\about-us\departments\department-of-centralized-procurement-and-supplies.html">Department of Centralised Procurement and Supplies</a></li>
                    <li><a href="pages\about-us\departments\department-of-finance.html">Department of Finance</a></li>
                    <li><a href="pages\about-us\departments\internal-audit-unit.html">Internal Audit Unit</a></li>
                    <li><a href="pages\about-us\departments\zambia-army.html">Zambia Army</a></li>
                    <li><a href="pages\about-us\departments\zambia-air-force.html">Zambia Air Force</a></li>
                    <li><a href="pages\about-us\departments\zambia-national-service.html">Zambia National Service</a></li>
                    <li><a href="pages\about-us\departments\the-chaplaincy.html">The Chaplaincy</a></li>
                    <li><a href="pages\about-us\departments\defence-services-command-and-staff-college.html">Defence Services Command and Staff College</a></li>
                    <li><a href="pages\about-us\departments\defence-force-medical-services.html">Defence Force Medical Services</a></li>
                    <li><a href="pages\about-us\departments\international-military-sports-council(CISM)-United-nations-liaison-office.html">International Military Sports Council(CISM)/United Nations Liaison Office</a></li>
                    <li class="more-sub-menu-last-child"><a href="pages\about-us\departments\ex-servicemen's-affairs-directorate.html">Ex-servicemen's Affairs Directorate</a></li>
                    </ul>
                </li>
                </ul>
            </li>
            <li><a href="pages/projects.html">PROJECTS</a></li>
            <li><a href="pages/tenders.html">TENDERS</a></li>
            <li><a href="pages/contact-us.html">CONTACT US</a></li>
            </ul>
        </div>
        <div class="search-box">
            <i class='bx bx-search'></i>
            <div class="input-box">
            <input type="text" placeholder="Search...">
            </div>
        </div>
    </div>
</nav>