---
title: Home Page - Ministry of Defence
layout: base.njk
---
<main class="main-content-container">
    <div class="marquee">
        <p> <span>CORE VALUES:</span> INTEGRITY . HONESTY . OBJECTIVITY . IMPARTIALITY . LOYALTY . RESPECT . ACCOUNTABILITY . EXCELLENCE . CONFIDENTIALITY . SELFLESSNCE</p>
    </div>
    
    <section>
        <div class="slide-show-container">
            <div class="mySlides fade">
                <img src="/assets/images/slide-show/Zambia_US_PPE_Africom.jpg" alt="no image">
                <div class="caption">
                    <q>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corrupti similique dolore nobis expedita 
                        excepturi iste et! Consectetur blanditiis iste vel dolores aliquid rem corrupti nobis magnam. Esse, rem in?
                    </q>

                        <div class="tool-tip-text">
                        <i class="fa fa-caret-up"></i>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corrupti similique dolore nobis expedita 
                            excepturi iste et! Consectetur blanditiis iste vel dolores aliquid rem corrupti nobis magnam. Esse, rem in?
                        </p> 
                    </div>
                </div>
            </div>

            <div class="mySlides fade">
                <img src="assets/images/slide-show/1280px-thumbnail.jpg" alt="no image">
                <div class="caption">
                    <q>
                        Service members and delegates from more than 40 nations gather at the Zambian Army headquarters for the 
                        opening ceremony for Africa Endeavor (AE) 2013 in Lusaka, Zambia, Aug. 7, 2013
                    </q>
                        <div class="tool-tip-text">
                        <i class="fa fa-caret-up"></i>
                        <p>
                            Service members and delegates from more than 40 nations gather at the Zambian Army headquarters for the 
                            opening ceremony for Africa Endeavor (AE) 2013 in Lusaka, Zambia, Aug. 7, 2013
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="mySlides fade">
                <img src="assets/images/slide-show/unnamed.jpg" alt="no image">
                <div class="caption">
                    <q>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corrupti similique dolore nobis expedita 
                        excepturi iste et! Consectetur blanditiis iste vel dolores aliquid rem corrupti nobis magnam. Esse, rem in?
                    </q>
                        <div class="tool-tip-text">
                        <i class="fa fa-caret-up"></i>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corrupti similique dolore nobis expedita 
                            excepturi iste et! Consectetur blanditiis iste vel dolores aliquid rem corrupti nobis magnam. Esse, rem in?
                        </p> 
                    </div>
                </div>
            </div>

            <div class="mySlides fade">
                <img src="assets/images/slide-show/Lungu-and-air-force-Gen-Eric-Chimese-620x400.jpg" alt="no image">
                <div class="caption">
                    <q>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corrupti similique dolore nobis expedita 
                        excepturi iste et! Consectetur blanditiis iste vel dolores aliquid rem corrupti nobis magnam. Esse, rem in?
                    </q>
                        <div class="tool-tip-text">
                        <i class="fa fa-caret-up"></i>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corrupti similique dolore nobis expedita 
                            excepturi iste et! Consectetur blanditiis iste vel dolores aliquid rem corrupti nobis magnam. Esse, rem in?
                        </p> 
                    </div>
                </div>
            </div>

            <div class="mySlides fade">
                <img src="assets/images/slide-show/maxresdefault.jpg" alt="no image">
                <div class="caption">
                    <q>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corrupti similique dolore nobis expedita 
                        excepturi iste et! Consectetur blanditiis iste vel dolores aliquid rem corrupti nobis magnam. Esse, rem in?
                    </q>
                        <div class="tool-tip-text">
                        <i class="fa fa-caret-up"></i>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corrupti similique dolore nobis expedita 
                            excepturi iste et! Consectetur blanditiis iste vel dolores aliquid rem corrupti nobis magnam. Esse, rem in?
                        </p> 
                    </div>
                </div>
            </div>

            <div class="mySlides fade">
                <img src="assets/images/slide-show/zambia-air-force-zaf.jpg" alt="no image">
                <div class="caption">
                    <q>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corrupti similique dolore nobis expedita 
                        excepturi iste et! Consectetur blanditiis iste vel dolores aliquid rem corrupti nobis magnam. Esse, rem in?
                    </q>
                        <div class="tool-tip-text">
                        <i class="fa fa-caret-up"></i>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corrupti similique dolore nobis expedita 
                            excepturi iste et! Consectetur blanditiis iste vel dolores aliquid rem corrupti nobis magnam. Esse, rem in?
                        </p> 
                    </div>
                </div>
            </div>

            <div class="mySlides fade">
                <img src="assets/images/slide-show/2b52ad_1866d139bdfc4b74a8be1ec81dfd0191_mv2.jpg" alt="no image">
                <div class="caption">
                    <q>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corrupti similique dolore nobis expedita 
                        excepturi iste et! Consectetur blanditiis iste vel dolores aliquid rem corrupti nobis magnam. Esse, rem in?
                    </q>
                        <div class="tool-tip-text">
                        <i class="fa fa-caret-up"></i>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corrupti similique dolore nobis expedita 
                            excepturi iste et! Consectetur blanditiis iste vel dolores aliquid rem corrupti nobis magnam. Esse, rem in?
                        </p> 
                    </div>
                </div>
            </div>

            <div class="dot-container">
                <span class="dot"></span> 
                <span class="dot"></span> 
                <span class="dot"></span>
                <span class="dot"></span> 
                <span class="dot"></span> 
                <span class="dot"></span> 
                <span class="dot"></span> 
            </div>
        </div>
    </section> 

    <div class="first-container-wrapper">
        <div>
            <div class="welcome-container">
                <div><h2>WELCOME TO THE OFFICIAL WEBSITE OF THE MINISTRY OF DEFENCE</h2></div>
                <div>
                    <p>
                        The Ministry of Defence is charged with the critical responsibility of preserving, protecting and defending 
                        the sovereignty and territorial integrity of Zambia for the sole purpose of ensuring the country, its citizens 
                        and residents are safeguarded from both internal and external aggression. The Ministry of Defence draws its mandate 
                        from the Government Gazette Notice No.547 of 2004, and is accordingly responsible for 
                        <a href="pages/about-us/about-the-ministry.html">Read More...</a>
                    </p>  
                </div>
            </div>
        </div>

        <div>
            <div>
                <div class="myMinSlides fade">
                <img src="/assets/images/min-slide-show/cyberbullying1.png" alt="no image">
                </div>
        
                <div class="myMinSlides fade">
                <img src="/assets/images/min-slide-show/cyberbullying2.png" alt="no image">
                </div>
        
                <div class="myMinSlides fade">
                <img src="/assets/images/min-slide-show/cyberbullying3.png" alt="no image">
                </div>
        
                <div class="emphasis">
                    <span><em>The Government of the Republic of Zambia Stands Against any form of abuse.</em></span>
                </div>
            </div>                    
            <div style="display: none;">
                    <span class="minDot"></span> 
                    <span class="minDot"></span> 
                    <span class="minDot"></span> 
            </div>        
        </div>        
    </div>

    <div class="second-container-wrapper">
        <div>
            <h3>Latest News</h3>
        </div>
        <div style="border:1px solid #ff8c00; border-radius: 0px 0px 3px 3px;">
            <div class="responsive-container-wrapper">
            
                {%- for post in collections.lnsNew | reverse -%}
                    {% include 'article-card.njk' %}
                {%- endfor -%}

            </div>
            <div style="display: flex; height: 50px">
                <div class="see-all-btn"><a style="color:#fff; text-decoration: none" href="/pages/blogs/latest-news-all">See All</a></div>
            </div>            
        </div>

    </div>  

    <div class="third-container-wrapper">
        <div>
            <h3>Latest Speeches and Press Releases</h3>
        </div>

        <div style="border:1px solid #ff8c00; border-radius: 0px 0px 3px 3px;">
            <div class="responsive-container-wrapper">

                {%- for post in collections.lsprNew | reverse -%}
                    {% include 'article-card.njk' %}
                {%- endfor -%}

            </div>  
            <div style="display: flex; height: 50px">
                <div class="see-all-btn"><a style="color:#fff; text-decoration: none" href="/pages/blogs/latest-speeches-and-press-releases">See All</a></div>
            </div>             
        </div>
     
    </div>

    <div class="fourth-container-wrapper">
        <div>
            <h3>Featured Video</h3>
        </div>

        <div style="border:1px solid #ff8c00; border-radius: 0px 0px 3px 3px;">
            <div class="responsive-container-wrapper">
                
                {%- for post in collections.fvNew | reverse -%}
                    {% include 'featured-video.njk' %}
                {%- endfor -%}

            </div> 
            <div style="display: flex; height: 50px">
                <div class="see-all-btn"><a style="color:#fff; text-decoration: none" href="/pages/blogs/featured-video-all">See All</a></div>
            </div>        
        </div>

    </div>
</main>
