---
title: Home Page
layout: base.njk
---

<main class="main-content-container">
  <div class="marquee">
    <p>
      <span>CORE VALUES:</span> INTEGRITY . HONESTY . OBJECTIVITY . IMPARTIALITY
      . LOYALTY . RESPECT . ACCOUNTABILITY . EXCELLENCE . CONFIDENTIALITY .
      SELFLESSNCE
    </p>
  </div>

  <section>
    <div class="slide-show-container">
      <div class="mySlides fade">
        <img
          src="/assets/images/slide-show/Zambia_US_PPE_Africom.jpg"
          alt="The US donates protective equipment against COVID19 to the Zambian Ministry of Defence."
        />
        <div class="caption">
          <q
            >The US donates protective equipment against COVID19 to the Zambian
            Ministry of Defence.</q
          >

          <div class="tool-tip-text">
            <i class="fa fa-caret-up"></i>
            <p>
              The US donates protective equipment against COVID19 to the Zambian
              Ministry of Defence.
            </p>
          </div>
        </div>
      </div>

      <div class="mySlides fade">
        <img
          src="assets/images/slide-show/1280px-thumbnail.jpg"
          alt="Service members and delegates from more than 40 nations gather at the Zambian Army headquarters for the opening ceremony for Africa Endeavor (AE) 2013 in Lusaka, Zambia, Aug. 7, 2013"
        />
        <div class="caption">
          <q>
            Service members and delegates from more than 40 nations gather at
            the Zambian Army headquarters for the opening ceremony for Africa
            Endeavor (AE) 2013 in Lusaka, Zambia, Aug. 7, 2013
          </q>
          <div class="tool-tip-text">
            <i class="fa fa-caret-up"></i>
            <p>
              Service members and delegates from more than 40 nations gather at
              the Zambian Army headquarters for the opening ceremony for Africa
              Endeavor (AE) 2013 in Lusaka, Zambia, Aug. 7, 2013
            </p>
          </div>
        </div>
      </div>

      <div class="mySlides fade">
        <img
          src="assets/images/slide-show/unnamed.jpg"
          alt="Zambian National Service women march on Women's day."
        />
        <div class="caption">
          <q> Zambian National Service women march on Women's day. </q>
          <div class="tool-tip-text">
            <i class="fa fa-caret-up"></i>
            <p>Zambian National Service women march on Women's day.</p>
          </div>
        </div>
      </div>

      <div class="mySlides fade">
        <img
          src="assets/images/slide-show/Lungu-and-air-force-Gen-Eric-Chimese-620x400.jpg"
          alt="President Edgar Lungu with Air Force Commander Lt Gen Eric Chimese at the official opening of Zambia airforce L15 Flight Simulator Centre at ZAF Lusaka Base and Trainer aircrafts."
        />
        <div class="caption">
          <q>
            President Edgar Lungu with Air Force Commander Lt Gen Eric Chimese
            at the official opening of Zambia airforce L15 Flight Simulator
            Centre at ZAF Lusaka Base and Trainer aircrafts.
          </q>
          <div class="tool-tip-text">
            <i class="fa fa-caret-up"></i>
            <p>
              President Edgar Lungu with Air Force Commander Lt Gen Eric Chimese
              at the official opening of Zambia airforce L15 Flight Simulator
              Centre at ZAF Lusaka Base and Trainer aircrafts.
            </p>
          </div>
        </div>
      </div>

      <div class="mySlides fade">
        <img
          src="assets/images/slide-show/maxresdefault.jpg"
          alt="A delegation headed by the Deputy Commander of the Army and Chief of Staff of the Zambian Army, General Dennis Sitali Alibuzwi, paid a courtesy visit on Nov. 10, 2020 to the chiief of MINUSCA, Mankeur Ndiaye."
        />
        <div class="caption">
          <q>
            A delegation headed by the Deputy Commander of the Army and Chief of
            Staff of the Zambian Army, General Dennis Sitali Alibuzwi, paid a
            courtesy visit on Nov. 10, 2020 to the chiief of MINUSCA, Mankeur
            Ndiaye.
          </q>
          <div class="tool-tip-text">
            <i class="fa fa-caret-up"></i>
            <p>
              A delegation headed by the Deputy Commander of the Army and Chief
              of Staff of the Zambian Army, General Dennis Sitali Alibuzwi, paid
              a courtesy visit on Nov. 10, 2020 to the chiief of MINUSCA,
              Mankeur Ndiaye.
            </p>
          </div>
        </div>
      </div>

      <div class="mySlides fade">
        <img
          src="assets/images/slide-show/zambia-air-force-zaf.jpg"
          alt="Induction ceremony of Zambia’s new L-15 aircraft by His His Excellence Mr. Edgar Lungu."
        />
        <div class="caption">
          <q>
            Induction ceremony of Zambia’s new L-15 aircraft by His His
            Excellence Mr. Edgar Lungu.
          </q>
          <div class="tool-tip-text">
            <i class="fa fa-caret-up"></i>
            <p>
              Induction ceremony of Zambia’s new L-15 aircraft by His His
              Excellence Mr. Edgar Lungu.
            </p>
          </div>
        </div>
      </div>

      <div class="mySlides fade">
        <img
          src="assets/images/slide-show/2b52ad_1866d139bdfc4b74a8be1ec81dfd0191_mv2.jpg"
          alt="His Excellence Mr. Hakahinde Hichilema given a guard of honour by the Zambian Army on his inaguaration ceremony."
        />
        <div class="caption">
          <q>
            His Excellence Mr. Hakahinde Hichilema given a guard of honour by
            the Zambian Army on his inaguaration ceremony.
          </q>
          <div class="tool-tip-text">
            <i class="fa fa-caret-up"></i>
            <p>
              His Excellence Mr. Hakahinde Hichilema given a guard of honour by
              the Zambian Army on his inaguaration ceremony.
            </p>
          </div>
        </div>
      </div>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <div class="dot-container">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
        <span class="dot" onclick="currentSlide(7)"></span>
      </div>
    </div>
  </section>

  <div class="first-container-wrapper">
    <div>
      <div class="welcome-container">
        <div>
          <h2>WELCOME TO THE OFFICIAL WEBSITE OF THE MINISTRY OF DEFENCE</h2>
        </div>
        <div>
          <p>
            The Ministry of Defence is charged with the critical responsibility
            of preserving, protecting and defending the sovereignty and
            territorial integrity of Zambia for the sole purpose of ensuring the
            country, its citizens and residents are safeguarded from both
            internal and external aggression. The Ministry of Defence draws its
            mandate from the Government Gazette Notice No.547 of 2004, and is
            accordingly responsible for
            <a href="pages/about-us/about-the-ministry.html">Read More...</a>
          </p>
        </div>
      </div>
    </div>

    <div>
      <div>
        <div class="myMinSlides fade">
          <img
            src="/assets/images/min-slide-show/stop-the-voilence-against-women-and-girls.png"
            alt="Stop the voilence against women and girls"
          />
        </div>

        <div class="myMinSlides fade">
          <img
            src="/assets/images/min-slide-show/stop-the-voilence-against-women.png"
            alt="Stop the voilence against women"
          />
        </div>

        <div class="myMinSlides fade">
          <img
            src="/assets/images/min-slide-show/stop-cyber-bullying-or-any-form-of-online-harassment.png"
            alt="Stop cyber bullying or any form of online harassment"
          />
        </div>

        <div class="emphasis">
          <span
            ><em class="figcap"
              >The Government of the Republic of Zambia Stands Against any form
              of abuse.</em
            ></span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="second-container-wrapper">
    <div>
      <h3>Latest News</h3>
    </div>
    <div class="outter-responsive-container-wrapper">
      <div class="responsive-container-wrapper">
        {%- for post in collections.lnsNew | reverse -%} {% include
        'article-card.njk' %} {%- endfor -%}
      </div>
      <div class="see-all-button-container-wrapper">
        <div class="see-all-btn">
          <a href="/pages/blogs/latest-news-all">See All</a>
        </div>
      </div>
    </div>
  </div>

  <div class="third-container-wrapper">
    <div>
      <h3>Latest Speeches and Press Releases</h3>
    </div>

    <div class="outter-responsive-container-wrapper">
      <div class="responsive-container-wrapper">
        {%- for post in collections.lsprNew | reverse -%} {% include
        'article-card.njk' %} {%- endfor -%}
      </div>
      <div class="see-all-button-container-wrapper">
        <div class="see-all-btn">
          <a href="/pages/blogs/latest-speeches-and-press-releases">See All</a>
        </div>
      </div>
    </div>
  </div>

  <div class="fourth-container-wrapper">
    <div>
      <h3>Featured Videos</h3>
    </div>

    <div class="outter-responsive-container-wrapper">
      <div class="responsive-container-wrapper">
        {%- for post in collections.fvNew | reverse -%} {% include
        'featured-video.njk' %} {%- endfor -%}
      </div>
      <div class="see-all-button-container-wrapper">
        <div class="see-all-btn">
          <a href="/pages/blogs/featured-video-all">See All</a>
        </div>
      </div>
    </div>
  </div>
</main>
